@{
    ViewData["Title"] = "Index";
    var counter = (ViewBag.PageNumber - 1) * ViewBag.PageSize;
    var pagedList = (IPagedList)ViewBag.Owners;
}

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
<link href="~/admin/css/PagedList.css" rel="stylesheet" type="text/css" />



<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Owner</h4>
            <div class="col-12  text-end"><a class="text-end d-block" asp-action="create" asp-controller="Owner">Create</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Share Percent</th>
                            <th>Description</th>
                            <th>Count of Properties</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var owner in ViewBag.Owners)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>
                                    <img width="50" class="border-circle" src="~/Uploads/Owners/@owner.ImageUrl"/>

                                </td>
                                <td>@owner.Fullname</td>
                                <td>@owner.SharePercent</td>
                                <td>@owner.Desc</td>
                                <td>@owner.Houses.Count</td>
                                <td>
                                    <a asp-action="edit" asp-action="owner" asp-route-id="@owner.Id"><i style="font-size:20px" class="mdi mdi-lead-pencil"></i></a>
                                    <a class="delete-btn" asp-action="delete" asp-action="owner" asp-route-id="@owner.Id"><i style="font-size:20px" class="mdi mdi-close-circle text-danger "></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div>
                    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/admin/js/Main.js"></script>


}


