@{
    ViewData["Title"] = "Index";
    var counter = 0;
    var pagedList = (IPagedList)ViewBag.Amenities;
}

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common


<!-- import the included stylesheet for some (very basic) default styling -->
<link href="~/admin/css/PagedList.css" rel="stylesheet" type="text/css" />

<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <div class="col-12  text-end"><a class="text-end d-block" asp-action="create" asp-controller="Amenity">Create</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var service in ViewBag.Amenities)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>@service.Name</td>
                                <td><label class="badge badge-@(!service.IsFeatured? "danger":"success")">@(service.IsFeatured ? "Featured" : "Ordinary")</label></td>

                                <td>
                                    <a asp-action="edit" asp-action="Amenity" asp-route-id="@service.Id"><i style="font-size:20px" class="mdi mdi-lead-pencil"></i></a>
                                    <a class="delete-btn" asp-action="delete" asp-action="Amenity" asp-route-id="@service.Id"><i style="font-size:20px" class="mdi mdi-close-circle text-danger "></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div >
                    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))
             
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/admin/js/Main.js"></script>


}






