
@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
    var counter = (ViewBag.PageNumber - 1) * ViewBag.PageSize;
    var pagedList = (IPagedList)ViewBag.Comments;
}

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common


<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Comment</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (UserComment comment in ViewBag.Comments)
                        {
                            counter++;
                                <tr>
                                    <td>@counter</td>
                                    <td>@comment.AppUser.UserName</td>
                                    <td>@comment.Text</td>

                                <td>
                                    <label class="badge text-light badge-@(comment.IsApproved? "success":"warning")">
                                        @(comment.IsApproved==true ? "Approved" :"Pending")
                                        </label></td>

                                    <td>
                                    <a class="text-success @(comment.IsApproved?"d-none":"")" asp-action="approve" asp-controller="Comment" asp-route-id="@comment.Id"><i style="font-size:26px" class="mdi mdi-checkbox-marked-circle"></i></a>
                                    <a class="text-danger " asp-action="deny" asp-controller="Comment" asp-route-id="@comment.Id"><i style="font-size:26px" class="mdi mdi-close-circle "></i></a>
                                    </td>
                                </tr>
                        }

                    </tbody>
                </table>
                <div>
                    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(pagedList, page => Url.Action("index", new { page }))

                </div>
            </div>
        </div>
    </div>
</div>







