
@{
    ViewData["Title"] = "Edit";
}


@model House
<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create New Property</h4>

            <form action="Edit" method="post" class="forms-sample row" enctype="multipart/form-data">

                <div class="col-md-6 col-sm-10">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Desc">Description</label>
                        <textarea asp-for="Desc" type="number" step="0.001" class="form-control" placeholder="Desc"></textarea>
                        <span class="text-danger" asp-validation-for="Desc"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location">Location link src</label>
                        <input asp-for="Location" type="text" class="form-control" placeholder="Location">
                        <span class="text-danger" asp-validation-for="Location"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label><br />
                        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name)))"></select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnerId">Owner</label><br />
                        <select asp-for="OwnerId" asp-items="@(new SelectList(ViewBag.Owners, nameof(Owner.Id), nameof(Owner.Fullname)))"></select>
                        <span class="text-danger" asp-validation-for="OwnerId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityId">City</label><br />
                        <select asp-for="CityId" asp-items="@(new SelectList(ViewBag.Cities, nameof(City.Id), nameof(City.Name)))"></select>
                        <span class="text-danger" asp-validation-for="CityId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmenityIds">Amenities</label><br />
                        <select class="col-6" asp-for="AmenityIds" asp-items="@(new SelectList(ViewBag.Amenities, nameof(Amenity.Id), nameof(Amenity.Name)))"></select>
                        <span class="text-danger" asp-validation-for="AmenityIds"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Area">Area</label>
                        <input asp-for="Area" type="number" class="form-control" placeholder="Area" />
                        <span class="text-danger" asp-validation-for="Area"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomCount">RoomCount</label>
                        <input asp-for="RoomCount" class="form-control" placeholder="RoomCount" />
                        <span class="text-danger" asp-validation-for="RoomCount"></span>
                    </div>


                </div>
                <div class="col-md-6 col-sm-10">
                    <div class="form-group">
                        <label asp-for="BedroomCount">BedroomCount</label>
                        <input asp-for="BedroomCount" class="form-control" placeholder="BedroomCount" />
                        <span class="text-danger" asp-validation-for="BedroomCount"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BathroomCount">BathroomCount</label>
                        <input asp-for="BathroomCount" class="form-control" placeholder="BathroomCount" />
                        <span class="text-danger" asp-validation-for="BathroomCount"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParkingCount">ParkingCount</label>
                        <input asp-for="ParkingCount" class="form-control" placeholder="ParkingCount" />
                        <span class="text-danger" asp-validation-for="ParkingCount"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="YearBuilt">YearBuilt</label>
                        <input asp-for="YearBuilt" class="form-control" placeholder="YearBuilt" />
                        <span class="text-danger" asp-validation-for="YearBuilt"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountPercent">DiscountPercent</label>
                        <input asp-for="DiscountPercent" type="number" class="form-control" placeholder="DiscountPercent" />
                        <span class="text-danger" asp-validation-for="DiscountPercent"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="number" class="form-control" placeholder="Price" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PosterDesc">PosterDesc</label>
                        <textarea asp-for="PosterDesc" class="form-control" placeholder="PosterDesc"><</textarea>
                        <span class="text-danger" asp-validation-for="PosterDesc"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsFeatured">IsFeatured</label>
                        <br />
                        <input asp-for="IsFeatured" type="checkbox">
                        <span class="text-danger" asp-validation-for="IsFeatured"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsSold">IsSold</label>
                        <br />
                        <input asp-for="IsSold" type="checkbox">
                        <span class="text-danger" asp-validation-for="IsSold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="File">Poster Image</label>
                        <input asp-for="File" type="file" class="form-controll">
                        <span class="text-danger" asp-validation-for="File"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Files">Other Images</label>
                        <input asp-for="Files" class="form-controll">
                        <span class="text-danger" asp-validation-for="Files"></span>
                    </div>

                </div>
                <input type="hidden" value="@Model.Id" asp-for="Id"></input>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-light" asp-action="index" asp-controller="House">Cancel</a>
            </form>
        </div>
    </div>
</div>






