@{
    ViewData["Title"] = "Index";
    var counter = (ViewBag.PageNumber - 1) * ViewBag.PageSize;
    var pagedList = (IPagedList)ViewBag.Houses;
}

@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
<link href="~/admin/css/PagedList.css" rel="stylesheet" type="text/css" />


<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <div class="col-12  text-end"><a class="text-end d-block" asp-action="create" asp-controller="house">Create</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Owner</th>
                            <th>Category</th>
                            <th>Area</th>
                            <th>Rooms</th>
                            <th>Status</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (House house in ViewBag.Houses)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>
                                    <img width="50"  src="~/Uploads/Houses/@house.HouseImages.FirstOrDefault(x=> x.PosterStatus== true)?.ImageUrl" />

                                </td>
                                <td>@house.Title</td>
                                <td>@house.Owner.Fullname</td>
                                <td>@house.Category.Name</td>
                                <td>@house.Area</td>
                                <td>@house.RoomCount</td>
                                  <td><label class="badge badge-@(house.IsSold? "danger":"success")">@(house.IsSold? "Sold" : "For Sale")</label></td>

                                <td>@house.Price</td>
                                <td>
                                    <a class="mx-1 " asp-action="edit" asp-controller="house" asp-route-id="@house.Id"><i style="font-size:20px" class="mdi mdi-lead-pencil"></i></a>
                                    <a class="mx-1 " asp-action="Index" asp-controller="Comment" asp-route-id="@house.Id"><i style="font-size:20px" class="mdi mdi-message "></i></a>
                                    <a class="mx-1 delete-btn" asp-action="delete" asp-controller="house" asp-route-id="@house.Id"><i style="font-size:20px" class="mdi mdi-close-circle text-danger "></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div>
                    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/admin/js/Main.js"></script>


}

