
@{
    ViewData["Title"] = "Index";

    

    //==========================
    // earning reports
    //==========================

    var AnnualEarning = Model.Orders.Where(x => x.CreatedAt.Year == DateTime.UtcNow.Year && x.OrderStatus == true).Sum(x => x.HousePrice);
    var monthlyEarning = Model.Orders.Where(x => x.CreatedAt.Month == DateTime.UtcNow.Month && x.OrderStatus == true).Sum(x => x.HousePrice);
   
}
@model DashboardViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold">@Model.Admin.UserName</h3>
                <p>Your last login: @Model.Admin.LastConnectedAt.ToString("dd MMMM yyyy")</p>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-md-end">
                   
                    <div class="pr-1 mb-3 mr-2 mb-xl-0">
                        <button type="button" class="btn btn-sm bg-white btn-icon-text border"><i class="typcn typcn-arrow-forward-outline mr-2"></i>Export</button>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-xl-5 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">The percentage of sold properties</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="circleProgress6" class="progressbar-js-circle rounded p-3"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="session-by-channel-legend">
                                            @foreach (var city in Model.Cities.OrderByDescending(x=> x.Houses.Count(x=> x.IsSold)).Take(5).ToList())
                                            {
                                              <li>
                                                <div>@city.Name (@city.Houses.Count)</div>
                                            </li>
                                            }
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between mb-4">
                            <h4 class="card-title mb-3">Orders Requests Per Category </h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <canvas id="doughnutChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">Top commented Properties</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                      @foreach (var house in  Model.TopCommentedHouses)
                                        {
                                            <div class="d-flex justify-content-between mt-4">
                                                <div><a  asp-action="edit" asp-controller="house" asp-route-id="@house.Id">@house.Title</a></div>
                                                <div class="text-muted">@house.UserComments.Count</div>
                                            </div>
                                            <div class="progress progress-md mt-1">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @((double)house.UserComments.Count/Model.MostCommentedHouse.UserComments.Count*100)%" aria-valuenow="@house.UserComments.Count" aria-valuemin="0" aria-valuemax="@Model.MostCommentedHouse.UserComments.Count"></div>
                                            </div>
                                        }
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">Income by cities</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="d-flex justify-content-between mb-4">
                                            <div class="font-weight-medium">Category</div>
                                            <div class="font-weight-medium">Total Income</div>
                                        </div>
                                        @foreach (var city in Model.CityTotalVms)
                                        {
                                                <div class="d-flex justify-content-between mb-4">
                                                    <div class="text-secondary font-weight-medium">
                                                    @city.CityName
                                                    </div>
                                                    <div class="small">
                                                         @city.Total
                                                    </div>
                                                </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">Analytics</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-md-flex mb-4">
                                    <div class="mr-md-5 mb-4">
                                        <h5 class="mb-1"><i class="typcn typcn-archive mr-1"></i>Orders</h5>
                                        <h2 class="text-secondary mb-1 font-weight-bold">@Model.DashboardScriptVm.OrderCountPerMonth.Sum()</h2>
                                    </div>
                                    <div class="mr-md-5 mb-4">
                                        <h5 class="mb-1"><i class="typcn typcn-tags mr-1"></i>Comments</h5>
                                        <h2 class="text-warning mb-1 font-weight-bold">@Model.DashboardScriptVm.CommentCountPerMonth.Sum()</h2>
                                    </div>
                                    <div class="mr-md-5 mb-4">
                                        <h5 class="mb-1"><i class="typcn typcn-globe-outline mr-1"></i>Booking Requests</h5>
                                        <h2 class="text-primary mb-1 font-weight-bold">@Model.DashboardScriptVm.MessageCountPerMonth.Sum()</h2>
                                    </div>
                                      
                                </div>
                                <canvas id="salesanalyticChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title mb-3">Total Earnings</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <div class="mr-1">
                                        <div class="text-info mb-1">
                                            Monhtly Earning
                                        </div>
                                        <h2 class="mb-2 mt-2 font-weight-bold monthlyEarning">@monthlyEarning.ToString("0.##")$</h2>
                                        
                                    </div>
                                    <hr>
                                    <div class="mr-1">
                                        <div class="text-info mb-1">
                                            Annual Earning
                                        </div>
                                        <h2 class="mb-2 mt-2  font-weight-bold annualEarning">@AnnualEarning.ToString("0.##")$</h2>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

</div>
@section Scripts{
             @await Html.PartialAsync("_DasboardScriptPartial", Model.DashboardScriptVm)
    <script src="~/lib/signalr.min.js"></script>
    <script>


        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/RealTimeHub")
            .build();

        connection.start().then(function () {
            console.log(connection.connectionId)
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("updateMonthlyEarning", (amount)=>{
            $(".monthlyEarning").html(amount +"$");
        })
        connection.on("updateAnnualEarning", (amount) => {
            $(".annualEarning").html(amount +"$");
        })

       


    </script>



        }