@{
    ViewData["Title"] = "Index";
    var counter = (ViewBag.PageNumber - 1) * ViewBag.PageSize;
    var pagedList = (IPagedList)ViewBag.Sliders;
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common

<div class="w-100 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Silders</h4>
            <div class="col-12  text-end"><a class="text-end d-block" asp-action="create" asp-controller="Slider">Create</a></div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Order</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var slider in ViewBag.Sliders)
                        {
                            counter++;
                            <tr>
                                <td>@counter</td>
                                <td>
                                    <img width="50" class="border-circle" src="~/Uploads/Sliders/@slider.ImageUrl" />

                                </td>
                                <td>@Html.Raw(slider.Title)</td>
                                <td>@slider.Desc</td>
                                <td>@slider.Order</td>
                                <td>
                                    <a asp-action="edit" asp-action="Slider" asp-route-id="@slider.Id"><i style="font-size:26px" class="mdi mdi-lead-pencil"></i></a>
                                    <a class="delete-btn" asp-action="delete" asp-action="Slider" asp-route-id="@slider.Id"><i style="font-size:26px" class="mdi mdi-close-circle text-danger "></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div>
                    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/admin/js/Main.js"></script>


}




